<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Thesis Charts</title>
  <%= stylesheet_link_tag 'application' %>
</head>
<body style="text-align: center; font-size: 1.4em;">

<h1>Choose chart type</h1>

<br>

<p><a href="/barchart">Bar chart</a></p>

<p><a href="/boxchart">Box chart</a></p>

<p><a href="/improvedboxchart">Improved box chart</a></p>

<p><a href="/eidchart">EID chart</a></p>

<br>

<p><a href="/barchart?debug">Bar chart (with debug bar)</a></p>

<p><a href="/boxchart?debug">Box chart (with debug bar)</a></p>

<p><a href="/improvedboxchart?debug">Improved box chart (with debug bar)</a></p>

<p><a href="/eidchart?debug">EID chart (with debug bar)</a></p>

<br>

<p><a href="/generate_data">Generate data set</a></p>

</body>
</html>
